/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/11/2018, 02:27:05 PM
    Author     : fernando
*/
body{
    background: #ececec;
}
.tituloInfo{
    color:#494949;
}
.infoPrincipal{
    background: #e5e5e5;
    padding: 35px;
    text-align: center;
    color:#777676;
    border-bottom: 1px solid #dbdbdb;
}

.menuAyuda{
    padding: 35px;
    color:#606060;
    font-size: 12px;
}
.menuAyuda div{
    margin-bottom: 10px;
}
.nombreTitulo{
    color:#494949;
    font-weight: 600;
}

.separadorListado {
    width: 100%;
    border-bottom: 2px solid #dbdbdb;
    border-top: 1px solid #bcbcbc;
    margin-bottom: 30px;
}

.link:link,.link:visited,.link:checked{
    color:#606060;
}
.link:hover{
    color:#3a3a3a;
}.separador{
    padding: 10px 50px;
    background: #d6d4d4;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    font-size: 20px;
    font-weight: bold;
    color:#494949;
}
.titulo{
    padding: 30px 50px;
    color:#424242;
    font-size: 15px;
    font-weight: bold;
    
}
p{
    padding: 10px 50px;
    text-align: justify;
    font-size: 12px;
    color: #5e5d5d;

}
.icono{
    width: 12px;
    margin: 0px 10px;
}
.bbtn{
    margin: 0px 10px;
}
.btnIcono{
    width: 11px;
    margin-right: 10px;
    cursor: pointer;
}
.nuevo1{
    background: #00cd6a;
    padding: 2px 10px;
    color:white;
}
.nuevo{
    background: #00cd6a;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.almacen{
    background: #0099de;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.entrega{
    background: #0080bb;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.proveedor{
    background: #ff9d00;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.traslado{
    background: #23475f;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.sucursal{
    background: #ff9d00;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.devolucion{
    background: #ae59b9;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.faltante{
    background: #a0ffa0;
    color: #5e5d5d;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.finalizado{
    background: #a142b3;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.cancelado{
    background: #ff7878;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
}
.superTabla{
    margin: 0px 110px;
    font-size: 12px;
    color:#606060;
}
.pagina{
    width: 20px;
    height: 20px;
    padding: 2px 5px;
    text-align: center;
    background: #ff4900;
    color: white;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
}
.notificacion{
    background: #e82222;
    color:white;
    padding: 1px 5px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 9px;
}
.subir{
    background: #f23535;
    padding: 9px 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}
.subir img{
    width: 20px;
    position: relative;
    bottom: 2px;
}