/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2018, 03:19:41 PM
    Author     : fernando
*/
main{
    background: url(../images/fondoChat.jpg);
    background-size: 100%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    /*background: white;*/
}
.header{
    /*background: #ededed;*/
}
.imgLogo{
    width: 60%;
    margin-left: 20%;
    /*padding: 20px;*/
    margin-top: 30px;
}
.entradaInicio{
    width: 80%;
    margin-left: 10%;
    /*border-radius: 3px;*/
    padding: 10px 20px;
    border:1px solid #bcbaba;
    /*margin-top: 5px;*/
    color:#706d6d;
    transition: 1s;
    
}
.entradaInicio:focus{
    transition: 1s;
    box-shadow: 0px 0px 20px rgba(10,10,10,0.2);
}
.tit{
    font-size: 25px;
    color:#33373a;
    text-align: center;
    margin-top: 30px;
}
.botonInicio{
    width: 80%;
    margin-left: 10%;
    padding: 10px 20px;
    /*border-radius: 3px;*/
    background: #33373a;
    color:white;
    border:0px;
    margin-top: 5px;
    color:white;
    font-weight: bold;
}
.botonInicio:hover{
    background: #44494c;
}
.errorPass{
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color:#f75d5d;
}

.espera{
    background: rgba(255,255,255,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.imgLoading{
    position: absolute;
    top: 250px;
    left: 45%;
    width: 10%;
}
.desenfoque{
    transition: 0.3s;
    filter: blur(20px);
}
.version{
    font-size: 12px;
    color:#848484;
    text-align: center;
    padding: 15px;
}