/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/05/2018, 04:18:43 PM
    Author     : fernando
*/

.bloqueGeneral{
    width: 200px;
    /*background: grey;*/
    /*padding: 20px 10px;*/
    /*border:1px solid black;*/
    font-size: 0.8em;
    
}
.imagen img{
    width: 100%;
}
.sucursal{
    
}
td{
    border-bottom: 1px solid black;
    padding: 5px;
}
th{
    border-bottom: 2px solid black;
    padding: 5px;
}
.informacion{
    text-align: center;
}
.footer{
    text-align: center;
}
.letraChica{
    font-size: 8px;
}