/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2018, 06:18:15 PM
    Author     : fernando
*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
body{
    /*background:#eff0f2;*/
    background: #ececec;
}
.scrollApartado{
    overflow-y: auto;
    height: 250px;
}

.imgCentral{
    text-align: center;
    padding-top: 50px;
}
.margenBody{
    padding-top: 60px;
}
.fondoVerde{
    background: #bdfcd7;
}
.eliminarRojo{
    background: #ff2c20;
    color:white;
    text-align: center;
    font-size: 10px;
    line-height: 30px;
    margin-top: -6px;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
}
.eliminarRojo:hover{
    background: #d12219;

}

.btnAceptar{
    background: #42ce8d;
    color:white;
    border:0px;
    width: 100px;
    padding: 7px;
    margin: -6px;
    border-bottom: 1px solid #3cbc80;
}
.btnAceptar:hover{
    background: #3eb27c;
}
.btnAyuda{
    display: inline-block;
}
.btnAyuda img{
    width: 20px;
    margin-left: 20px;
}
.btnAyuda:hover .tooltip3{
    display: block;
    animation-duration: 0.5s;
    animation-name: tooltip;
}
@keyframes tooltip{
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(-10%);
        opacity: 0;
    }
    50% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;

    }
}
.notificacion{
    background: #e82222;
    color:white;
    padding: 2px 6px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    margin-left: 15px;
    float:right;
}
.tooltip3{
    background: #3a3a3a;
    color:white;
    position: absolute;
    right: 40px;
    bottom: 48px;
    /*left: 0px;*/
    width: 180px;
    z-index: 100;
    font-weight: lighter;
    font-size: 12px;
    font-family: "Roboto";
    padding: 10px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.4);
    border-radius: 3px;
    display: none;
}
.finalizado{
    position: relative;
    top: 5px;
}

.fechaPedido{
    background:#2790f9;
    color:white;
    border-bottom: 1px solid #1879db;
}
.fechaEntrega{
    background:#22c970;
    color:white;
    border-bottom: 1px solid #17b762;
}

/*--------------------------------------------Listado----------------------------------*/
.bloqueListado{
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 17%;
    height: 100%;
    z-index: 20;
    background: #f6f6f6;
    padding-top: 70px;
    border-right: 1px solid #dddfe2;
}
.listadoTitulo{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
}
.superListado{
    background: white;
    margin: 15px;
    /*height: 300px;*/
    border:1px solid #eaeaea;
}
.listadoOpcionDes{
    padding: 5px 10px;
    border-bottom: 1px solid #ededed;
    color:#aaaaaa;
    cursor: pointer;
    /*margin: 0px 5px;*/
}
.listadoOpcion{
    padding: 5px 10px;
    border-bottom: 1px solid #ededed;
    color:#565555;
    cursor: pointer;
    transition: 0.3s;
    /*margin: 0px 5px;*/
}
.precioNuevo{
    text-align: right;
    line-height: 30px;
    padding-right: 15px;
    color:#7f7f7f;
}
.separadorListado{
    /*width: 100%;*/
    border-bottom: 2px solid #dbdbdb;
    border-top: 1px solid #bcbcbc;
    margin-bottom: 15px;
    margin-left: 15px;
}
.separadorListado2{
    border-bottom: 1px solid #dbdbdb;
    /*border-top: 1px solid #bcbcbc;*/
    margin-bottom: 15px;
    margin-left: 15px;
}
.selectL{
    background: #8e8d8d;
    color:white;
    padding: 5px 10px;
    transition: 0.5s;
    font-weight: bold;
    margin-right: -16px;
    /*box-shadow: 0px 0px 7px rgba(0,0,0,0.5);*/
}
.listadoOpcion:hover{
    background: #efeded;
}
.tituloListado{
    font-size: 26px;
    color:#5b5b5b;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.apaB{
    margin-left: 50px;
}
.tituloListado2{
    font-size: 20px;
    color:#969696;
    font-size: 14px;
    /*margin-left: 15px;*/
}
.parrafoListado{
    margin-left: 65px;
    color:#8e8e8e;

}
.parrafoFlotante{
    margin-left: 15px;
    color:#8e8e8e;

}
.proveedorListado{
    color:#1c85db;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 12px;
}
.listPedido{
    animation-duration: 0.5s;
    animation-name: lista;
}
@keyframes lista{
    0% {
        transform: scale(0.98) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.4;
    }

    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;

    }
}
.iconoTitulo{
    width: 35px;
    margin-right: 15px;
    position: relative;
    bottom: 3px;
}
/*--------------------------------------------Formulario----------------------------------*/
.entrada{
    height: 30px;
    border: 1px solid #c4c2c2;
    width: 300px;
    padding: 3px 5px;
    font-size: 12px;
    margin-bottom: 5px;
    color:#565656;
    transition: 0.5s;
}
.entrada:focus{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border:1px solid #2790f9;
    transition: 0.5s;
}
.entradadDevo{
    padding: 4px 10px;
    text-align: center;
    width: 100px;
    margin: -5px;
}
.entradaSelect{
    height: 30px;
    border: 1px solid #c4c2c2;
    width: 300px;
    padding: 3px 5px;
    font-size: 12px;
    margin-bottom: 5px;
    position: relative;
    /*right: 3px;*/
}
.entradaSelect .siOpcion{
    background: #4c4c4c;
    color:white;
}
.entradaSelect .noOpcion{
    background: #707070;
    color:white;
}
.optionRojo{
    background: red;
    color:white;
}
.entradaLabel{
    width: 200px;
    text-align: right;
    margin-right: 10px;
    color:#565656;
}
.entradaDinero{
    height: 50px;
    border: 1px solid #c4c2c2;
    width: 300px;
    padding: 3px 15px;
    font-size: 25px;
    margin-bottom: 5px;
    color:#2790f9;
}
.entradaCantidad{
    height: 30px;
    border: 1px solid #c4c2c2;
    width: 50px;
    padding: 3px 5px;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}
/*---------------------------------------------------------------------------------------------*/
.bloqueEditorial{
    padding: 3px 10px;
    background: #dddddd;
    border-radius: 3px;
    width: 300px;
    display: inline-block;
    margin-right: 15px;
    height: 30px;
    margin-bottom: 5px;
}
.paginaActiva{
    /*width: 30px;*/
    /*height: 30px;*/
    padding: 5px 10px;
    text-align: center;
    background: #ff4900;
    color:white;
    display: inline-block;
    border-radius: 3px;
}
.pagina{
    padding: 5px 10px;
    text-align: center;
    background: #ff8d60;
    color:white;
    display: inline-block;
    border-radius: 3px;
}
.pagina2{
    padding: 5px 10px;
    text-align: center;
    background: #e2e2e2;
    color:#4c4c4c;
    display: inline-block;
    border-radius: 3px;
}
.fondoRojo{
    background: #fcc7c7;
}
.faltante div{
    background: red;
    margin: -5px;
    color:red;
}
.noFaltante div{
    background:#4cc97e;
    margin: -5px;
    color:white;
    /*width: 100px;*/
    padding: 5px;
}

.rojo{
    background: red;
    color:white;
}
header{
    /*background: #f6f7f6;*/
    /*background: linear-gradient(to bottom, #e8e6e8 0%,#D3D3D3 100%);*/
    background: #f0f0f0;
    border-bottom: 1px solid #acabac;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
.imgLogo{
    /*width: 40%;*/
    height: 40px;
    padding: 10px;
    margin-left: 50px;
}
.margenCheck{
    position: relative;
    right: 15px;
}
.letrero{
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    color:#545960;
    font-weight: bold;
}
.bloqueMenu{
    background: white;
    margin: 5px 10px;
    padding: 10px;
    text-align: center;
    color:#616770;
    font-weight: bold;
    border:1px solid #dddfe2;
    border-radius: 5px;
}
.bloqueMenu2{
    background: white;
    margin: 10px 25px 5px 25px;
    padding: 10px;
    text-align: center;
    color:#616770;
    font-weight: bold;
    border:1px solid #dddfe2;
    border-radius: 5px;
    font-size: 12px;
}
.bloqueMenu2 .col-md-2{
    position: relative;
    bottom: 15px;
}
.link6:hover,.link6:link,.link6:visited,.link6:checked{
    text-decoration: none;
    color:white;
}
.iconoMenu{
    text-align: right;

}
.iconoMenu img{
    width: 20px;
    margin: 10px;
}
.menuEmergente{
    background: rgba(247,247,247,0.66);
    width: 210px;
    height: 100%;
    /*box-shadow: 0px 0px 20px rgba(0,0,0,0.2);*/
    padding-bottom: 20px;
    z-index: 150;
}
.iconoOpcion{
    height: 15px;
    /*margin-bottom: -2px;*/
    margin-right: 15px;
    position: relative;
    bottom: 2px;
}
.novisto{
    position: fixed;
    top: 0px;
    right: -250px;
    transition: 0.4s;
    opacity: 0;
}
.visto{
    position: fixed;
    top: 0px;
    right: 0px;
    transition: 0.4s;
}
.margenBtn{
    margin-right: 15px;
}
.tituloMenu{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color:white;
    color:#777777;
    background: #dcdadc;
}
.tituloMenu2{
    /*    padding: 5px;*/
    margin-bottom: 3px;
    margin-top: 3px;
    border-bottom: 1px solid #d6d6d6;
}
.opcionmenu{
    padding: 5px 30px;
    cursor: pointer;
    font-size: 12px;
    color:#474747;
    font-weight: bold;
}
.opcionmenu:hover{
    /*background: #dbd9d9;*/
    background: rgba(255,255,255,0.4);

}
.opcionTPV{
    padding: 5px 30px;
    cursor: pointer;
    font-size: 12px;
    color: #474747;
    font-weight: bold;
    background: rgba(207,207,207,0.66);
    border-bottom: 1px solid #b2b2b2;
    cursor: pointer;
}
.opcionTPV:hover{
    background: #c1bfbf;
}
.closeTPV{
    display: none;
    transition: 0.5s;
}
.openTPV{
    transition: 0.5s;
    display: block;
    animation-duration: 0.3s;
    animation-name: flotante;
}
.link:hover,.link:link,.link:visited,.link:checked{
    text-decoration: none;
    color:#616770;
}
.link2:hover,.link2:link,.link2:visited,.link2:checked{
    /*text-decoration: none;*/
    color:#2790F9;
}

.supermenu{
    position: fixed;
    right: 0px;
    top: 70px;
    height: 100%;
    width: 33%;
    background: red;
    overflow-y: visible;
    border-left: 1px solid #e0e0e0;
    /*z-index: 200;*/
}
.back{
    background: white;
    height: 100%;
}
.informacion{
    /*    border-left: 1px solid #ededed;
        background: white;*/
}
.titulo2{
    background: #f2f2f2;
    padding: 10px 15px;
    color:#828282;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 5px rgba(30,30,30,0.1);
}
.pedidos{
    color:#5b5b5b;
    font-size: 11px;
    /*font-weight: bold;*/
}
.vacio img{
    width: 40px;
}
.vacio{
    padding: 10px;
    text-align: center;
    color:#bababa;
    /*background: white;*/
}
.bloqueVerde{
    border-bottom: 2px solid #e5e3e3;
    padding: 5px 15px;
    /*background: white;*/
    border-left: 3px solid #45e0b9;
}
.bloqueRojo{
    border-bottom: 2px solid #e5e3e3;
    padding: 5px 15px;
    /*background: white;*/
    border-left: 3px solid #fc3737;
}
.bloqueAmarillo{
    border-bottom: 2px solid #e5e3e3;
    padding: 5px 15px;
    /*background: white;*/
    border-left: 3px solid #ffe30f;
}
.elBloque:hover{
    background: #f2f2f2;
    cursor: pointer;
}
.usuarioNombre{
    color:#43464c;
    /*font-weight: bold;*/
    text-transform: capitalize;
    position: relative;
    top: 12px;
    background:#f2f2f2;
    padding: 15px;
}
.usuarioNombre:hover img{
    width: 26px;
    margin-right: 7px;
    margin-top: -3px;
    margin-left: -3px;
    transition: 0.3s;
}

.nombreSucursal{
    font-size: 14px;
    font-weight: lighter;
    position: relative;
    bottom: 5px;
    color:#43464c;
}
/*//////////////////////////////////////////////////////*/
.codigoBarra{
    padding: 5px 10px;
    /*background: #e5e3e3;*/
    /*background: #ececec;*/
    border-bottom: 1px solid #e2e2e2;
}
.nombreBarra{
    color:#2790f9;
    font-weight: bold;
    display:inline-block;
    margin-top: 5px;
}
.barra{
    display: inline-block
}
.barra input{
    width: 100%;
    height: 30px;
    padding:10px;
    border-radius: 3px 0px 0px 3px;
    border:1px solid #cecece;
    color:#606060;
    background: #dbdbdb;
    transition: 0.5s;
}
.barra input:focus{
    box-shadow: 0px 0px 5px rgba(0,133,242,0.8);
    border:1px solid #0085f2;
    background: white;
    transition: 0.5s;
}
.btnBuscar{
    /*width: 50px;*/
    background: #2595ea;
    height: 30px;
    border:0px;
    border-radius: 0px 3px 3px 0px;
    margin-left: -30px;
    color:white;
}
.icono img{
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.botones{
    padding: 10px;
    background: #f4f4f4;
}
.btnIcono{
    width: 11px;
    margin-right: 10px;
    cursor: pointer;
}
.btnIcono2{
    width: 20px;
    margin-right: 10px;
}
.btnAnimacion{
    width: 20px;
    margin-right: 10px;
    transition: 0.3s;
}
.btnAnimacion:hover{
    width: 26px;
    margin-right: 7px;
    margin-left: -3px;
    transition: 0.3s;
}
.btnAyuda{
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.ticket{
    background: #d3d3d3;
    color:#616770;
    padding-left: 50px;
    font-weight: bold;
    padding: 5px 50px;
}
.table-container{
    /*height: 300px;*/
    background: white;
}
.resultado{
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #f7f7f7;
}
.resultado .col-md-1{
    font-weight: bold;
    text-align: center;
}
.resultado .col-md-1 span{
    color:#2790f9;
}
.total{
    font-size: 25px;
    color:#2790f9;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.tabla-producto{
    font-size: 11px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    /*font-weight: bold;*/
}
.tabla-producto td{
    text-transform: capitalize;
    /*text-align: center;*/
    /*color:#565555;*/
}
.tabla-producto th{
    /*text-align: center;*/
    padding-left: 5px;
}
.bloqueFlotante{
    width: 60%;
    position: fixed;
    top:100px;
    left: 20%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(10,10,10,0.2);
    animation-name: flotante;
    animation-duration: 0.5s;
    z-index: 150;
}
@keyframes flotante {
    0% {
        transform: scale(0.7) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.4;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}
.tituloFlotante{
    /*background: #ececec;*/
    /*background: rgba(236,236,236,0.8);*/
    background: linear-gradient(to bottom, #f2f0f2 0%,#d2d0d2 100%);
    color:#424242;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #b7b6b7;
}
li{
    margin-bottom: 5px;
}
.principalFlotante{
    padding: 15px;
    font-size: 12px;
    /*    background: #f6f6f6;*/
    background: rgba(255,255,255,0.6);
    /*border-radius: 0px 0px 5px 5px;*/
    overflow-y: auto;
    max-height: 400px;
}
.principalFlotante h5{
    font-size: 15px;
    font-weight: bold;
    color:#7c7c7c;
    /*margin-left: 120px;*/
}
.principalFlotante input{
    font-weight: lighter;
}
.letraChica td,.letraChica tr{
    padding: 5px;
}
.botonesFlotante{
    padding: 10px;
    text-align: right;
    /*background: white;*/
    background: #e5e3e3;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #d4d4d4;
    /*border-bottom: 1px solid #b7b6b7;*/
}
.botonesFlotante .btn{
    margin-left: 15px;
}
.fondoNegro{
    background: rgba(11,15,18,0.15);
    /*background: rgba(230,230,230,0.3);*/
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    animation-name: negro;
    animation-duration: 0.5s;
    z-index: 100;
}
.desenfoque{
    /*transition: 0.2s;*/
    filter: blur(20px);
    padding-top: 60px;
}

@keyframes negro {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.1;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}
.apartadoBloque{
    /*margin: 100px;*/
    margin-top: 50px;
    background: white;
    border-bottom:1px solid #d1d1d3;
    padding: 0px;
    /*border-radius: 3px;*/
    /*box-shadow: 0px 0px 20px rgba(30,30,30,0.2);*/
}
.apartadoTitulo{
    /*border-bottom: 1px solid #7f7f7f;*/
    padding: 5px;
    border-radius: 3px 3px 0px 0px;
    font-size: 18px;
    padding-left: 40px;
    margin-bottom: 20px;
    color:white;
    background: #7e83a0;
    font-weight: lighter;

}


.apartadoPrincipal{
    padding: 30px 50px;
    text-align: right;
    color:#636262;
    border-radius: 0px 0px 3px 3px;
}
.apartadoPrincipal label{
    margin-left: 15px;
    margin-right: 15px;
}
.grande{
    font-size: 22px;
}
.mensaje{
    width: 50%;
    position: absolute;
    top: 250px;
    left:25%;
    background: #ff9647;
    color:white;
    border-radius:10px;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.tablaTPV th,.tablaTPV tr{
    text-align: center;
}
.empty{
    background: #ffd8d8;
    border-bottom: 1px solid #f2bfbf;
}
.empty td{
    padding: 5px;
}
.noEmpty{
    background: white;
    border-bottom: 1px solid #e5e5e5;
}
.noEmpty:hover{
    background: #47464c;
    color:white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border:0px;
}
.noEmpty td{
    padding: 5px;
}
.noEmpty2{
    background: white;
    border-bottom: 1px solid #e5e5e5;
}
.noEmpty2 td{
    padding: 5px;
}

.puntero{
    cursor: pointer;
}
.opcionCobrar{
    text-align: center;
    background: white;
    font-weight: bold;
    border:1px solid #e0e0e0;
    padding: 15px;
    cursor: pointer;
}
.select{
    background: #e0e0e0;
}
.entradaCobrar{
    border-radius: 5px;
    border:1px solid #e0e0e0;
    font-size: 20px;
    color:#2790f9;
    padding: 5px;
    display: inline-block;
}
.cambio{
    font-size: 20px;
    color:#2790f9;
    /*margin-left: 10px;*/
    border-radius: 5px;
    background: #d1d1d1;
    margin-top: 5px;
    padding: 5px;
    width: 225px;
}
.entradaTablaDinero{
    padding:5px 10px;
    border:0px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    width: 100%;
    background: rgba(0,134,235,0.7);
    color:white;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
}
.entradaTabla{
    padding:5px 10px;
    border:0px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    width: 100%;
    background: rgba(255,255,255,0.4);
}
.entradaTabla:disabled{
    background: rgba(225,225,225,0.7);
}
.entradaTablac{
    width: 60px;
    padding:5px 10px;
    border:0px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    font-weight: bold;
    text-align: center;
    background: #fff3d6;
}
.entradaTablac:focus{
    background: #f9e1a9;
}
.entradaTablaDevolucion{
    width: 60px;
    padding:5px 10px;
    border:0px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    color:white;
    font-weight: bold;
    text-align: center;
    background: #ad5cc5;
}
.entradaTablab{
    width: 70px;
    padding:5px 10px;
    border:0px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
}
.entradaTablad{
    width: 120px;
    /*width: 100%;*/
    padding:5px 10px;
    border:0px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    background: rgba(255,255,255,0.4);
}
.entradaTablad:disabled{
    background: rgba(225,225,225,0.7);
}
#tablaProductos td{
    padding: 0px;
    border:1px;

}
#tablaProductos2 td{
    padding: 0px;
    /*border:1px;*/

}
#tablaProductos2 input{
    border-bottom: 0px;
    border-right: 0px;
    background: #eaf5ff;
}
tbody{
    border:0px;
}
.activo div{
    background: #00c873;
    color:white;
    width: 100%;
    padding: 8px;
    /*height: 20px;*/
    /*color:white;*/
    /*font-weight: bold;*/
    font-size: 14px;
    margin: -8px;
}
.noactivo{
    color: #ff544f;
    /*color:white;*/
    font-weight: bold;
    font-size: 14px;
}
.bordeAbajo{
    border-bottom: 2px solid #ececec;
    /*padding: 5px;*/
}
.bordeAbajo .col-md-2{
    text-align: right;
    /*background: #f0f0f0;*/
    padding: 5px;
    /*border-left: 4px solid #579bfc;*/
}
.bordeAbajo .col-md-4{
    text-align: left;
    /*background: #f7f7f7;*/
    padding: 7px 20px;
    color:#727272;
    /*border-bottom: 1px solid #d3d3d3;*/
    /*border-top: 1px solid #579bfc;*/
}
.editarBtn{
    color: #2e7cdb;
    text-align: right;
    font-size: 14px;
    margin: 5px;
}
.bbtn{
    margin: 0px 15px;
    width: 200px;
}
.sutil{
    color:#56bc54;
    /*font-weight: lighter;*/
}
.saldoGris div{
    background: #ff784e;
    color:#3d3c3c;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: center;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #e86d47;
}
.saldoRojo div{
    /*background: #ed6d7f;*/
    background: rgba(237,109,127,0.9);
    color:white;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: right;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #bf5664;
}
.saldoTotal div{
    /*background: #10bbef;*/
    background: rgba(16,187,239,0.9);
    color:white;
    border-bottom: 1px solid #0ea6d1;
    padding: 5px;
    font-size: 14px;
    margin: -5px -5px -5px -5px;
    text-align: right;
    /*border-left: 1px solid white;*/
    /*font-weight: bold;*/
}
.devolucionTotal div{
    /*background: #a44abf;*/
    background: rgba(164,74,191,0.9);
    color:white;
    border-bottom: 1px solid #853e9b;
    padding: 5px;
    font-size: 14px;
    margin: -5px -5px -5px -5px;
    text-align: center;
    position: relative;
    /*top: 5px;*/
}
.faltante div{
    background: #ff6666;
    color:white;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: center;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #e55959;

}
.noFaltante div{
    /*background: #579bfc;*/
    background: #50c995;
    color:white;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: center;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #43ad7f;

}
.noAceptar div{
    background: #ff6666;
    color:white;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: center;
    /*border-left: 1px solid white;*/
    cursor: pointer;
    border-bottom: 1px solid #e25656;

}
.noAceptar div:hover{
    background: #f95252;
}
.aceptar div:hover{
    background: #41b582;
}
.aceptar div{
    background: #50c995;
    color:white;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: center;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #41B582;
    cursor: pointer;

}
.aceptarNo div{
    background: #c9c9c9;
    color:#5e5e5e;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: center;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #c9c9c9;
    cursor: pointer;

}
.aceptado{
    color:#0f9b5c;
    text-align: center;
    font-weight: bold;
}
.denegado{
    color:#F95252;
    text-align: center;
    font-weight: bold;
}
.saldoNaranja div{
    background: #f79351;
    color:white;
    padding: 5px;
    font-size: 14px;
    margin: -5px;
    text-align: right;
    /*border-left: 1px solid white;*/
    border-bottom: 1px solid #db8048;

}
.saldoVerde div{
    /*background:#00c873;*/
    /*background: #1cd877;*/
    background: rgba(28,216,119,0.9);
    border-bottom: 1px solid #19c66d;
    color:white;
    text-align: right;
    padding: 5px;
    font-size: 14px;
    margin: -5px;    
    /*border-left: 1px solid white;*/
}
.usuariosPermisos label{
    margin-left: 30px;
}
.izquierdo{
    text-align: left;
    padding-left: 200px;
}
.bordeAbajo2{
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    color:#565656;
}
.bordeAbajo2 h3{
    color:black;
    font-size: 12px;
}
.bordeAbajo2 label{
    position: relative;
    top: 30px;
}
.barraInfo{
    width: 13%;
    height: 150px;
    background: white;
    display: inline-block;
    font-size: 10px;
    /*    margin-left: 5px;
        margin-right: 5px;*/
}
.barraFuera{
    width: 100%;
    height: 150px;
    border-radius: 3px;

}
.color1{
    background: #1c9be0;
    color:#1c9be0;
}
.color2{
    background: #76c550;
    color:#76c550;
}
.color3{
    background:#f54d81;
    color:#f54d81;
}
.color4{
    background: #f6b93c;
    color:#f6b93c;
}
.color5{
    background: #ed6648;
    color:#ed6648;
}
.color6{
    background: #944abd;
    color:#944abd;
}
.barraDentro{
    background: #f2f2f2;
    width: 100%;
    position: relative;
    bottom: 1px;
    border-radius: 5px 5px 0px 0px;
}
.lineaGrafica{
    height: 50px;
    width: 50%;
    margin-left: 25%;
    border-top: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    text-align: left;
    padding-left: 5px;
}
.contenidoGrafica{
    /*    position: relative;
        right: 10px;
        bottom: 0px;*/
    color: #9b9b9b;
    font-size: 10px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.cuadro{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    color:#898989;
    border-radius: 50%;
    position: relative;
    top: 2px;
}
.bloqueSuc{
    width: 16%;
    display: inline-block;
}
.smd{
    margin-right: -10px;
}
.smi{
    margin-left: -10px;
}
.cabeceraTabla{
    background: #dddddd;
}
.cabeceraTabla th{
    padding: 3px 5px;
    border-left: 1px solid #c1bfbf;

}
.numeroTabla{
    background: #f0f0f0;
    color:#64709d;
    /*font-weight: bold;*/
    padding-top: 10px;
    line-height: 20px;
    font-size: 16px;
    border: 1px solid white;
    text-align: center;

}
.btnMenu{
    cursor: pointer;
    height: 20px;

    transition: 0.5s;
}

.nuevaEntrada{
    width: 110%;
    padding: 8px;
    margin: -8px -20px -8px -50px;
    border:0px;
    float: right;
    border:1px solid #d8d6d6;
    /*margin-top: 2px;*/
    margin-bottom: 1px;
    /*border-bottom: 1px solid #d3d3d3;*/
}
.btnAzul{
    background: #00a1e5;
    border-radius: 25px;
    padding: 10px 20px;
    color:white;
    display: inline-block;
    margin: 15px;
}
.cursor{
    cursor: pointer;
}
.cursor div:hover{
    background: #d66340;
    color:white;
}
.bloquearEntrada{
    background: #ececec;
    /*    border-left: 3px solid #eff0f2;
        border-right: 10px solid #eff0f2;*/
    font-weight: lighter;
}
.estado div{
    padding: 6px;
    /*font-size: 14px;*/
    line-height: 20px;
    margin: -6px;
    text-align: center;
    /*border-left: 1px solid white;*/
    font-weight: bold;
}
.colorE1 div{
    background:#efed03;
    color:#595959;
    border-bottom: 1px solid #dbd83b;
}
.colorE1 div:hover{
    background: #c4c103;
}
.colorE2 div{
    background:#7a7a7a;
    color:white;
    border-bottom: 1px solid #6b6a6a;
}
.colorE2 div:hover{
    background: #6b6a6a;
}
.colorE3 div{
    background:#8aa80a;
    color:white ;
    border-bottom: 1px solid #afad01;
}
.colorE3 div:hover{
    background: #7a9308;
}
.colorE4 div{
    background: #03840e;
    color:white;
    border-bottom: 1px solid #02720b;
}
.colorE4 div:hover{
    background: #02720b;
}
.colorE5 div{
    background:#035d9c;
    color:white ;
    border-bottom: 1px solid #01568e;

}
.colorE5 div:hover{
    background: #01568e;
}
.colorE6 div{
    background:#1a246b;
    color:white ;
    border-bottom: 1px solid #111a56;
}
.colorE6 div:hover{
    background: #111a56;
}
.colorE7 div{
    background:#5d0261;
    color:white ;
    border-bottom: 1px solid #77127c;
}
.colorE7 div:hover{
    background: #77127c;
}
.colorE8 div{
    background:#ae0150;
    color:white ;
    border-bottom: 1px solid #910443;
}
.colorE8 div:hover{
    background: #910443;
}
.colorE9 div{
    background:#f3034c;
    color:white;
    border-bottom: 1px solid #c6053f;
}
.colorE9 div:hover{
    background: #c6053f;
}
.colorE10 div{
    background:#ff7c80;
    color:white;
    border-bottom: 1px solid #e57072;
}
.colorE10 div:hover{
    background: #e57072;
}
.colorE11 div{
    background:#ff9966;
    color:white ;
    border-bottom: 1px solid #db8157;
}
.colorE11 div:hover{
    background: #db8157;
}
.colorE12 div{
    background:#ffccff ;
    color:#595959 ;
    border-bottom: 1px solid #e5b9e5;
}
.colorE12 div:hover{
    background: #e5b9e5;
}
.colorE13 div{
    background:#404040;
    color:white ;
    border-bottom: 1px solid #565555;
}
.colorE13 div:hover{
    background: #565555;
}
.imgCredencial{
    position: absolute;
    top: 250px;
    right: 250px;
}
.noInformacion{
    color:#c9c9c9;
}
.bordeRojo{
    border-left: 3px solid #ff6666;
}
.bordeVerde{
    border-left: 3px solid #56efaf;

}
.switchBloque{
    width: 40px;
    height: 23px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}
.switchBlanco{
    background: #f7f7f7;
    border:1px solid #dbdbdb;
}
.switchVerde{
    background: #4dd865;
    border:1px solid #4dd865;
}
.switch{
    border:1px solid #dbdbdb;
    width: 19px;
    height: 19px;
    background: white;
    border-radius: 35px;
    margin-top: 1px;
    /*box-shadow: 1px 0px 4px rgba(0,0,0,0.3);*/
}
.switchIzquierda{
    /*float: left;*/
    transition: 0.3s;
    position: relative;
    left: 1px;
}
.switchDerecha{
    /*float:right;*/
    transition: 0.3s;
    position: relative;
    left: 19px;
}
.labelSwitch{
    position: relative;
    bottom: 7px;
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    color:#7c7a7a;
    /*color:white;*/
    /*margin-bottom: 5px;*/
}
.labelSwitch2{
    /*color:white;*/
    color:#bcbcbc;
    margin-bottom: 5px;
}
.tituloSwitch{
    font-size: 14px;
    color:#605f5f;
    position: relative;
    /*bottom: 8px;*/
    width: 250px;
}
.bloqueNormal{
    border-bottom: 1px solid #e5e3e3;
    /*padding: 5px 5px 0px 5px;*/
    width: 50%;
    background: white;
    margin-left: 50px;
}
.bloqueNormal .switchBloque{
    position: relative;
    top: 5px;
}
.bloqueNormal .tituloSwitch{
    position: relative;
    /*top: 10px;*/
    bottom: 2px;
    padding-left: 15px;
}
.bloqueNormal:hover .descripcionSwitch{
    display: block;
    transition: 1s;
}
.descripcionSwitch{
    display: none;
    position: absolute;
    top:180px;
    right: 50px;
    background: rgba(0,0,0,0.7);
    color:white;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    transition: 1s;
    width: 300px;
    animation-name: flotante;
    animation-duration: 0.3s;
}
.btnEditar{
    margin: -6px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}
.btnEditar:hover{
    background: #e5e5e5;
}
.btnImprimir{
    margin: -6px;
    padding: 7px;
    position: relative;
    top: 1px;
    left: 1px;
    cursor: pointer;
}
.btnImprimir:hover{
    background: #e5e8e6;
}
.btnSelector{
    margin: -6px -4px;
    padding: 7px 6px;
    position: relative;
    top: 1px;
    left: 1px;
    background: #eaeaea;
    border-top:1px solid #dbd9d9;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
}
.link:link,.link:visited,.link:checked{
    text-decoration: none;
    color:#2790F9;
}
.btnSelector:hover{
    background: #007fff;
    color:white;
    text-decoration: none;
}
.renglon0{
    background: white;
}
.renglon0:hover{
    background: #dddddd;
    transition: 0.2s;
}
.renglon1{
    background: #f3f3f3;
    /*border-bottom: 1px solid #eaeaea;*/
}
.renglon1:hover{

    background: #dddddd;
    transition: 0.2s;
}
.iconoNormal{
    width: 15px;
}
.iconoNormalGrande{
    width: 16px;
}
.btnEliminar{
    margin: -6px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}
.btnEliminar:hover{
    background: #ffeaea;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.3);*/
}
.btnCantidad{
    margin: -5px;
    padding: 5px;
    background: #fff3d6;
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid #f2e5c6;
    font-weight: bold;
    cursor: pointer;
}
.btnCantidad:hover{
    background: #f2e5c6;
}
.negro{
    text-align:center;
    /*background: #e0e0e0;*/
    background: rgba(76,76,76,0.9);
    border-bottom: 1px solid #605f5f;
    color:white;
}
.superGris{
    text-align:center;
    /*background: #e0e0e0;*/
    background: #dddbdb;
    border-bottom: 1px solid #d1cfcf;
    color:#bababa;
}
.verde{
    text-align:center;
    /*background: rgba(49,218,131,0.9);*/
    background: rgba(80,201,149,0.9);
    border-bottom: 1px solid #2bbc71;
    color:white;
}
.verdeHover:hover{
    background: rgba(60,181,129,0.9);
    cursor: pointer;
}
.rojo{
    text-align:center;
    /*background: rgba(49,218,131,0.9);*/
    background: rgba(255,102,102,0.9);
    border-bottom: 1px solid #e55959;
    color:white;

}
.gris{
    text-align:center;
    /*background: #e0e0e0;*/
    background: rgba(224,224,224,0.9);
    border-bottom: 1px solid #c4c4c4;
    color:#565656;
    font-size: 14px;
}
.grisHover:hover{
    background: rgba(194,194,194,0.9);
    cursor: pointer;
}
.azul{
    text-align:center;
    /*background: #2784db;*/
    background: rgba(34,116,193,0.9);
    border-bottom: 1px solid #2274c1;
    color:white;
}
.btnDescuento{
    margin: -5px;
    padding: 5px;
    background: #cb5eed;
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid #aa45cc;
    font-weight: bold;
    cursor: pointer;
    color:white;
}
.btnDescuento:hover{
    background: #aa45cc;
}
.btnAgregar{
    margin: -6px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}
.btnAgregar:hover{
    background: #ddfff2;
}
.quitarBoton{
    width: 50px;
    border:0px;
    background: none;
    margin-right: -12px;

}
.ladoIzquierdo{
    font-weight: bold;
    padding:5px 25px;
    color:#494848;
}
.ladoDerecho{
    color:#7a7a7a;
    text-align: left;
    padding:5px 25px;
    width: 50%;
}
.numPedido{
    color:#2790f9;
    /*font-weight: bold;*/
}
.superTotal{
    color:#f25454;
}
/*-------------------------------------------------Navegacion---------------------------------------*/
.navegacion{
    position: relative;
    top: 1px;
    background: #d3d3d3;
}
.navBloque{
    width: 20%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    height: 19px;
    border-left: 2px solid #c4c2c2;
    margin: 0px;
    font-weight: bold;
    color:#adadad;
    background: #e5e3e3;
    position: relative;
    bottom: 1px;
    transition: 0.2s;
}
.navBloque:hover{
    /*color:white;*/
    /*background: #a5a4a4;*/
    background: white;
    transition: 0.3s;
}
.navegacionSelect{
    display: inline-block;
    /*width: 300px;*/
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 19px;
    position: relative;
    bottom: 1px;
    /*    background: white;
        color:#2790f9;*/
    background: #2790f9;
    color:white;
    border-left: 2px solid #c4c2c2;
}
.vacioGrande{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color:#cccccc;
    padding: 50px;
}
.imgVacio{
    width: 120px;
}
.opcionSelect{
    background: #595959;
    color:white;
    padding: 10px 10px;
    font-weight: bold;
}
.pendienteRojo{
    color:#dd2a2a;
    font-weight: bold;
}
/*/////////////////////////////////////// notificaciones  ////////////////////////////////////*/
.notificacionBloque{
    background: white;
    box-shadow: 0px 0px 45px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    right: -320px;
    font-size: 11px;
    height: 80px;
    border-radius: 3px;
    animation-duration: 6s;
    animation-name: notificacion;
}
.notificacionImg{
    display: inline-block;
    width: 80px;
    padding: 17px;
}
.notificacionImg img{
    width: 45px;

}
.notificacionInfo{
    width: 240px;
    display: inline-block;
    padding: 15px;
    height: 100px;
    float: right;
    color:#757575;
}
.notificacionInfo .titulo{
    font-size: 12px;
    color:#494949;
    font-weight: bold;
}
@keyframes notificacion {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.1;
    }
    7% {
        transform: scale(1) rotate(0deg) translateX(-100%) translateY(0%);
        opacity: 1;
    }
    93% {
        transform: scale(1) rotate(0deg) translateX(-100%) translateY(0%);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.1;
    }
}
.archivoFile{
    background: #c4c4c4;
    padding: 4px;
    margin: 0px;
    width: 100%;
}
.imgLoading{
    position: fixed;
    top: 250px;
    left: 45%;
    width: 10%;
}
.loadingChico{
    width: 50px;
    margin: 15px;
}
.brilloVerde{
    animation-name: brillo;
    animation-duration: 1s;
    background: #aefce6;
}
@keyframes brillo {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        /*opacity: 0.1;*/
        background;white;
    }
    50% {
        transform: scale(1) rotate(0deg) translateX(-50%) translateY(0%);
        /*opacity: 1;*/
        background:#7af9d7;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        /*opacity: 0.1;*/
        background;white;
    }
}
.brilloRojo{
    animation-name: brilloRojo;
    animation-duration: 0.5s;
    background: #ffc4c6;
}
@keyframes brilloRojo {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        /*opacity: 0.1;*/
        background;white;
    }
    20% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        /*opacity: 1;*/
        background:#ffa5a5;
    }
    30% {
        transform: scale(1) rotate(0deg) translateX(-5%) translateY(0%);
        /*opacity: 1;*/
        background:#ffa5a5;
    }
    40% {
        transform: scale(1) rotate(0deg) translateX(5%) translateY(0%);
        /*opacity: 1;*/
        background:#ffa5a5;
    }
    50% {
        transform: scale(1) rotate(0deg) translateX(-5%) translateY(0%);
        /*opacity: 1;*/
        background:#ffa5a5;
    }
    60% {
        transform: scale(1) rotate(0deg) translateX(5%) translateY(0%);
        /*opacity: 1;*/
        background:#ffa5a5;
    }
    80% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        /*opacity: 1;*/
        background:#ffa5a5;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        /*opacity: 0.1;*/
        background;white;
    }
}

.textoAzul{
    color:#2790f9;
    font-weight: bold;
    margin-bottom: 5px;
}
.semaforo{
    color:#a8a8a8;
    display: inline-block;
    float: right;
    font-weight: bold;
}
.semaforo div{
    display: inline-block;
    margin-left: 15px;

}
.luzRoja{
    color:#ff4444;
}
.luzVerde{
    color:#20e8c3;
}
.luzAmarilla{
    color:#eaa000;
}
.luzNormal{
    color:#2790f9;
}
.totalDevo{
    color:#6b6b6b;
    font-weight: lighter;
    width: 150px;
}
.totalDevo strong{
    color:#494949;
}