/* @import url("../font/AbadiMTStd-ExtraLight.otf");
.body{
    font-family: 'Abadi MT Std Extra Light';
} */
@font-face {
    font-family: "Abadi";
    src: url("../font/AbadiMTStd-ExtraLight.otf") format("OpenType");
}
@font-face {
    font-family: "Eras";
    src: url("../font/19380610.ttf") format("OpenType");
}
@font-face {
    font-family: "Copper";
    src: url("../font/Copperplate\ Gothic\ Light\ Regular.ttf") format("OpenType");
}
body{
    /*font-family: "Abadi";*/
}
.superCuadro{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.superCuadro img{
    width: 100%;
}
.circuloEdicion{
    width: 170px;
    height: 170px;
    text-align: center;
    border-radius: 50%;
    border:7px solid #0070c0;
    display: inline-block;
    z-index: 100;
    position: relative;
    background: white;
}
.tituloM{
    font-size: 30px;
    margin-left: 10px;
}
.circulo2{
    width: 160px;
    border-radius: 50%;
    margin-left: 50px;
}
.orientado{
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    color:#4dea4d;
}
.unidad{
    width: 50px;
}
.letraCirculo{
    font-size: 45px;
    color:#1f4e79;
    position: relative;
    top: 47px;
    font-family: "Eras";
}
.fondoDesenfoque{
    background: url(../images/fondoDesenfoque.png);
    background-size: 100% 100%;
    padding: 100px 50px;
    margin: -15px;
    /* width: 100%; */

}

.contenedorTotal hr{
    background: black;
    color:black;
    border-bottom: 1px solid #d8d8d8;
}
.imagen2{
    width: 90%;
    margin: 50px 5%;
}
.imagen3{
    width: 75%;
    margin-top: 100px;
    margin-left: 10%;
}
.bola1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fe912a;
    color:white;
    display: inline-block;
    margin:20px 60px;
    padding: 60px 0px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    /*font-family: "Abadi";*/
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 200;
}
.bola2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color:white;
    background: #95bc11;
    display: inline-block;
    margin:20px 60px;
    padding: 60px 0px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    /*font-family: "Abadi";*/
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 200;
}
.bola3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color:white;
    background: #34b2e4;
    display: inline-block;
    margin:20px 60px;
    padding: 60px 0px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    /*font-family: "Abadi";*/
    font-size: 20px;
    font-weight: bold;
    z-index: 200;
    position: relative;
}
.lineaCentral{
    height: 20px;
    width: 500px;
    background:#e0e0e0;
    position: absolute;
    top: 1300px;
    left: 400px;
}
.grafica {
    width: 0; 
     height: 0; 
     border-left: 100px solid #428bca;
     border-top: 100px solid #f0ad4e;
     border-bottom: 100px solid #d9534f; 
    border-radius: 100px;
}

.infoCirculo{
    padding: 5px 100px;
    position: relative;
    right: 105px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    /*font-family: "Abadi";*/
    width: 650px; 
    background: white;
}

.tituloCirculoPrincipal{
    color:#00abb5;
}
.lapso{
    position: absolute;
    top: 800px;
    right: 10px;;
}
.tituloCirculo{
    background: #1f4e79;
    color:white;
    font-family: "Copper";
    padding: 5px 100px;
    font-size: 16px;
    position: relative;
    right: 105px;
    /* border-radius: 0px 100%  0px 0px; */
    width: 500px;
}

.imgTotal img{
    width: 70px;
    
}
.tituloGeneral{
    background: white;
    color:#09336f;
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
    top: 310px;
    display: inline-block;
    font-weight: bold;
    animation-name: titulo;
    animation-duration: 2s;
    /*font-family: "Abadi";*/
}
@keyframes titulo {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(-100%);
        opacity: 0.4;
    }
   
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
        
    }
}
.imgTotal{
    text-align: right;
}
.text-derecha{
    text-align: right;
}
.circulo{
    width: 200px;
    border-radius: 50%;
    margin: 15px;
}
.infoTotal{
    font-size: 22px;
    /* border-bottom: 1px solid #e5e5e5; */
    padding-bottom: 30px;
    text-align: justify;
}
.contenedorGeneral{
    padding: 0px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-left: -10px;
    /* margin-right: -10px; */
    margin-top: 10px;
}

.tituloContenedor{
    background: #e8e8e8;
    padding: 10px;
    text-align: center;
    min-height: 100px;
    
    border-radius: 0px 0px 5px 5px;
    font-weight: bold;
    font-size: 18px;
}
.anchoCuadro{
    width: 19%;
    display: inline-block;
    margin-left: 5px;
}

.flechaParte2{
    width: 150px;
    height: 150px;
    /* background: #aaaaaa; */
    display: inline-block;
    /*font-family: "Abadi";*/
}
.flechaParte2 img{
    width: 70px;
    margin-top: 5px;
}
.flechaParte{
    width: 150px;
    height: 150px;
    background: #aaaaaa;
    display: inline-block;
    border-radius: 3px;
}
.flechaBlanca{
    position: absolute;
    width: 920px;
    margin-top: 40px;
    z-index: 50;
}
.flechaPunta{
    width: 150px;
    height: 150px;
    background: #1a447e;
    display: inline-block;
    border-radius: 3px;
    color:white;
}
.circuloParte{
    /* background: #eb5f5f; */
    background: linear-gradient(to right, #ff4949 0%,#f44646 48%,#ff4949 48%,#f44646 100%);
    color:white;
    padding: 100px 0px;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    font-size: 12px;
/*    font-family: "Abadi";*/
    /* border:5px solid #c41f1f; */
    box-shadow: 0px 0px 25px rgba(20,20,20,0.5);
    font-weight: bold;
}
.circuloParte img{
    position: relative;
    bottom: 40px;
}
.entreFlecha{
    width: 50px;
}
.semaforo{
    width: 50px;
}
.persona{
    width: 89px;
    position: relative;
    right: 33px;
    z-index: 60;
}
.persona2{
    position: relative;
    width: 89px;
    z-index: 80;
}
.portadaFondo1{
    background-image: url(../images/portada1b.png);
}
.portadaFondo2{
    background-image: url(../images/portada3b.png);
}
.portadaFondo3{
    background-image: url(../images/portada4b.png);
}
.portadaFondo4{
    background-image: url(../images/portada5b.png);
}
.portadaFondo5{
    background-image: url(../images/portada6b.png);
}
.imagenContenedor img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.flecha{
    width: 20px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.opcionMenu:hover{
    /*color:white;*/
    border-bottom: 2px solid white;
    transition: 0.3s;
}
/*.opcionMenu:hover img{
    display: inline-block;
}*/
.estrella:link,.estrella:visited,.estrella:checked{
    text-decoration: none;
}
.fondo{

    width: 100%;
    height: 100px;
    background-position: center;
    background-size: 110%;
    transition: 1s;
    border-radius: 5px 5px 0px 0px;
}
.fondo1{
    background-image: url(../images/portada1.png);
}
.fondo2{
    background-image: url(../images/portada3.png);
}
.fondo3{
    background-image: url(../images/imagen9.png);
}
.fondo4{
    background-image: url(../images/portada2.png);
}
.fondo5{
    background-image: url(../images/imagen10.png);
}
.contenedorGeneral:hover .fondo{
    background-size: 120%;
    transition: 0.5s;
}
.cuadroLogo{
    width: 60px;
    display: inline-block;
    margin: 0px;
}
.cuadroLogo img{
    width: 100%;
    /* border: 3px solid white; */
    margin: 5px;
}

@keyframes letra {
    0% {
        transform: scale(1) rotate(0deg) translateX(30%) translateY(0%);
        opacity: 1;
    }
    50% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.2;
        
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
        
    }
}
.negrita{
    font-weight: bold;
    font-size: 18px;
}
.negrita2{
    font-weight: bold;
    font-size: 18px;
}
.slide{
    /* background: rgba(255,255,255,0.1); */
    color:white;
    margin-right: 14px;
    padding: 20px;
    font-size: 22px;
    border-radius: 5px;
    text-align: justify;
    /*font-family: "Abadi";*/
    cursor: pointer;
    /* border:1px solid #a4d9fc; */
    transition: 1s;
}
@keyframes lado {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(-25%);
        opacity: 0.5;
    }
    50% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 0.5;
        
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
        
    }
}
#lado1{
    font-size: 21px;
    animation-name: lado;
    animation-duration: 1.5s;
    text-align: center;
}
#lado2{
    font-size: 21px;
    text-align: center;
    animation-name: lado;
    animation-duration: 1.5s;
}
#lado3{
    font-size: 21px;
    animation-name: lado;
    animation-duration: 1.5s;
}
#lado4{
    /* font-size: 18px; */
    animation-name: lado;
    animation-duration: 1.5s;
    text-align: center;
}
.imgSlide{
    width: 50px;
    margin-top: 5px;
}
.logoPrincipal{
    margin-top: 100px;
}

.text-center{
    text-align: center;
}
.margenLa2{
    margin-left: 200px;
    margin-right: 200px;
}
.imgNormal{
    width: 100%;
}

.letraAbi{
    /*font-family: "Abadi";*/
    font-size: 21px;

}

.apartado{
    display: inline-block;
}

.remarca{
    color:#16437c;
    font-size: 20px;
    font-weight: bold;
}
footer{
    /* height: 150px; */
    background: #f2f2f2;
    margin-top: -5px;
    text-align: center;
    padding: 30px;
    color:#686767;
    /*font-family: "Abadi";*/
}
footer img{
    width: 50px;

}
.resalto{
    font-weight: bold;
}
.relativo{
    position: relative;
    top: 10px;
    left: 10px;
}

.bordeArriba{
    margin: 10px;
    margin-top: 30px;
    border-top: 1px solid #c4c4c4;
    padding-top: 20px;
    color:#686767;
}

#cuadro1{
    animation-name: cuad1;
    animation-duration: 4s;
}
#cuadro2{
    animation-name: cuad2;
    animation-duration: 4s;
}
#cuadro3{
    animation-name: cuad3;
    animation-duration: 4s;
}
#cuadro4{
    animation-name: cuad4;
    animation-duration: 4s;
}

@keyframes cuad1 {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    }

    40% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    50% {
        transform: scale(1.3) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    60% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
}

@keyframes cuad2 {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    }

    50% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    60% {
        transform: scale(1.3) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    70% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
}

@keyframes cuad3 {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    }

    60% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    70% {
        transform: scale(1.3) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    80% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
}
@keyframes cuad4 {
    0% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    }

    70% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    80% {
        transform: scale(1.3) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    90% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
}

.linea{
    border-bottom: 1px solid #ffa566;
    width: 80%;
    animation-name: linea;
    animation-duration: 2s;
    margin-left: 25px;
}
@keyframes linea {
    0% {
        transform: scale(0.1) rotate(0deg) translateX(0%) translateY(0%);
    }

    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        
    }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
    body{
        background: url(../images/fondoP.png);
        background-attachment: fixed; 
        background-size: 100%;
        background-position-y: -100px;
        /*background: #ff4900;*/ 
    }
    header{
        background: white;
        height: 60px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
        text-align: center;
        z-index: 200;
    }
    .opcionMenu{
        color:#be704c;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        padding-bottom: 5px;
        cursor: pointer;
        /*font-family: "Abadi";*/
    }
/*    .opcionMenu:hover .imagenIcono{
        background-image: url(../images/unidad.png);
        transition: 1s;
    }*/
    .imagenIcono{
        width: 20px;
        height: 20px;
        background: #09336f;
        background-position: center;
        background-size: 100% 100%;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        top: 5px;
        transition: 1s;
    }
    .cuadroGeneral{
        /* width: 200px; */
        /* height: 200px; */
        text-align: right;
        padding-right: 20px;
        padding-bottom: 15px;
        border-right: 1px solid #ffa566;
        /* border-bottom: 1px solid #9dc3e6; */
        display: inline-block;
    }
    .apartadoDerecho{
        text-align: right;
    }
    .letrasLogo{
        color:white;
        font-size: 23px;
        /* text-align: cent er; */
        position: relative;
        top: 23px;
        right: 30px;
        /* border-bottom: 1px solid #9dc3e6; */
        padding-bottom: 30px;
        padding-right: 50px;
        padding-left: 50px;
        display: inline-block;
        animation-name: letra;
        animation-duration: 4s;
    }
    .letrasLogo span{
        font-weight: bold;
        margin-left: 100px;
    }
    .apartadoFooter{
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
    }
    .apartadoFooter img{
        width: 15px;
        margin-right: 10px;
    }
    .padd{
        padding: 30px 50px;
        font-size: 22px;
        text-align: justify;
    }
    .apartadoFooter2{
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    .apartadoFooter2 img:hover{
        width: 36px;
        margin-top: -3px;
        margin-left: -3px;
        margin-bottom: -3px;
        transition: 0.5s;
    }
    .apartadoFooter2 img{
        transition: 0.5s;
        width: 30px;
        margin-right: 20px;
    }
    .contenedorTotal{
        padding: 15px;
        margin: 50px 15px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        background: #f4f4f4;
        /*font-family: "Abadi";*/
    }
    .parteBlanca{
         background: #ff4900; 
        /*background-position: center;*/
        /*background-size: 100% 100%;*/
        /*background-repeat: no-repeat;*/
        margin-top: -15px;
        padding: 15px;
    }
    .altura{
        height: 830px;
    }
    .portadaGeneral {
        width: 100%;
        height: 400px;
        background-position-y: -30px;
        background-size: 100%;
        background-attachment: fixed; 
        
    }
    .portador2{
        font-size: 20px;
        text-align: justify;
    }
    .portador{
/*        font-family: "Abadi";*/
        margin: 30px;
        margin-bottom: 100px;
        font-size: 21px;
        text-align: justify;
        color:black;
    }
    .info1{
        position: relative;
        top: 60px;
    }
    .info2{
        position: relative;
        top: 60px;
    }
    .info3{
        position: relative;
        top: 100px;
    
    }

    .circuloEgg{
        display: inline-block;
        background: white;
        padding: 25px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 10px 5px 15px rgba(0,0,0,0.5);
        margin-top: 15px;
        margin-left: -65px;
    }
    .circuloEgg img{
        width: 70px;
    }
    .tituloEgg{
        font-size: 17px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .egg{
        
        color:white;
        height: 150px;
        width: 420px;
        display: inline-block;
        /*font-family: "Abadi";*/
    }
    .eggDerecho{
        
        border-radius: 0px 150px 150px 0px;
        width: 75px;
        /* border-right: 75px solid #6d85b5 ; */
        height: 150px;
        display: inline-block;
        position: relative;
        right: 10px;;
    }
    .eggIzquierdo{
        
        border-radius: 150px 0px 0px 150px;
        width: 75px;
        /* border-right: 75px solid #6d85b5 ; */
        height: 150px;
        display: inline-block;
        position: relative;
        left: 10px;
    }
    .eggColor{
        background: #6d85b5;
    }
    .eggColor2{
        background: #00adb4;
    }
    .eggColor3{
        background: white;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }
    .infoEgg{
        /* display: inline; */
        margin-left: -30px;
        margin-right: -10px;
        width: 300px;
        font-size: 16px;
        /* margin-right: -20px; */
        position: relative;
        top: 20px;
        /* left: 15px; */
        /* background: red; */
    }
    .menuC{
        display: none;
    }
    .imgRes{
        width: 100%;
    }
    .imgRes2{
        width: 140%;
        margin-left: -130px;
    }
    .texto{
        /* background: white; */
        /*background-image: url(../images/Imagen1b.png);*/
        /*background-size: 100% 100%;*/
        color:black;
        background: white;
        text-align: justify;
        display: inline-block;
        /* border-radius: 10px; */
        margin-top: 100px;
        font-size: 16px;
        /* box-shadow: 0px 0px 25px rgba(0,0,0,0.7); */
        /*font-family: "Abadi";*/
    }
    .imagenApartado{
        width: 100%;
        /* margin-right: -35px; */
        margin-top: 0px;
        /* margin-left: -15px; */
        position: relative;
        left: 15px;
        /*border-radius:0px  10px 10px 0px;*/
    }
    
}
@media screen and (max-width: 767px) {
    body{
        background: url(../images/fondob.jpg);
        background-position: right;
        background-size: auto 20%;
    }
    header{
        background: #09336f;
        height: 60px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
        text-align: center;
        z-index: 200;
    }
    .imgRes2{
        width: 80%;
        margin-left: 10%;
        
    }
    .opcionMenu{
        display: none;
    }
    .linea{
        display: none;
    }
    .cuadroGeneral{
        /* width: 200px; */
        /* height: 200px; */
        text-align: center;
        padding-right: 20px;
        padding-bottom: 15px;
        /* border-right: 1px solid #9dc3e6; */
        /* border-bottom: 1px solid #9dc3e6; */
        display: inline-block;
    }
    .apartadoDerecho{
        margin-left: 25%;
    }
    .letrasLogo{
        color:white;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 23px;
        right: 30px;
        /* border-bottom: 1px solid #9dc3e6; */
        padding-bottom: 30px;
        padding-right: 50px;
        padding-left: 50px;
        display: inline-block;
        animation-name: letra;
        animation-duration: 4s;
    }
    .letrasLogo span{
        font-weight: bold;
        margin-left: 100px;
        font-size: 10px;
    }
    .apartadoFooter{
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 12px;
        margin-top: 10px;
    }
    .apartadoFooter img{
        width: 15px;
        margin-right: 10px;
    }
    .padd{
        padding: 30px 10px;
        font-size: 20px;
        text-align: justify;
    }
    .apartadoFooter2{
        display: inline-block;
        margin-left: 50px;
        margin-right: 30px;
        margin-top: 20px;
    }
    .apartadoFooter2 img:hover{
        /* width: 36px;
        margin-top: -3px;
        margin-left: -3px;
        margin-bottom: -3px;
        transition: 0.5s; */
    }
    .apartadoFooter2 img{
        transition: 0.5s;
        width: 30px;
        margin-right: 20px;
    }
    .contenedorTotal{
        padding: 15px;
        margin: 50px 0px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        background: #f4f4f4;
        /*font-family: "Abadi";*/
        font-size: 18px;
        text-align: justify;
    }
    .parteBlanca{
        background: white;
        margin-top: -15px;
        padding: 0px;
    }
    .portadaGeneral {
        width: 100%;
        height: 400px;
        background-position-y: -30px;
        background-size: auto 100%;
    }
    .imgRes{
        width: 100%;
    }
    .circuloEgg{
        display: inline-block;
        background: white;
        padding: 25px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 10px 5px 15px rgba(0,0,0,0.5);
        margin-top: 15px;
        margin-left: -65px;
    }
    .circuloEgg img{
        width: 70px;
    }
    .tituloEgg{
        font-size: 17px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .egg{
        
        color:white;
        /* height: 150px; */
        width: 100%;
        margin-left: -15px;
        margin-right: -15px; 
        display: inline-block;
/*        font-family: "Abadi";*/
        margin-top: 10px;
    }
    .eggDerecho{
        
        border-radius: 0px 150px 150px 0px;
        width: 75px;
        /* border-right: 75px solid #6d85b5 ; */
        height: 150px;
        display: inline-block;
        position: relative;
        right: 10px;
        display: none;
    }
    .eggIzquierdo{
        
        border-radius: 150px 0px 0px 150px;
        width: 75px;
        /* border-right: 75px solid #6d85b5 ; */
        height: 150px;
        display: inline-block;
        position: relative;
        left: 10px;
        display: none;
    }
    .eggColor{
        background: #6d85b5;
    }
    .eggColor2{
        background: #00adb4;
    }
    .eggColor3{
        background: white;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }
    .infoEgg{
        /* margin-left: -30px; */
        margin-right: -10px;
        width: 100%;
        font-size: 16px;
        display: inline-block;
        padding: 15px;
        /* position: relative; */
        /* top: 20px; */
    }
    .menuG{
        display: none;
    }
    .btnIcono{
        width: 30px;
        margin-top: 15px;
        /* margin-left: 30px; */
    }
    .texto{
        background: white;
        /* background-image: url(../images/Imagen1b.png); */
        /* background-size: auto 20%; */
        color:black;
        text-align: justify;
        display: inline-block;
        /* border-radius: 10px; */
        margin-top: 100px;
        font-size: 16px;
        /* box-shadow: 0px 0px 25px rgba(0,0,0,0.7); */
/*        font-family: "Abadi";*/
    }
    .imagenApartado{
        width: 100%;
        /* margin-right: -35px; */
        margin-top: 0px;
        margin-left: -15px;
        position: relative;
        left: 15px;
        border-radius:10px;
    }
}